/*----------------------------------------DESTINOS------------------------------------------------------*/
.tituloDestinos{
    @extend .estiloGeneral;
    font-size: 200%;
}

@mixin textoDivDestinos ($tamanioTexto , $bgColor , $marginTop, $fuente, $color, $alineacion) {
                         font-size: $tamanioTexto;
                         background-color: $bgColor;
                         margin-top: $marginTop;
                         font-family: $fuente;
                         color: $color;
                         text-align: $alineacion;
}
.contenidoDestinos{
    @include textoDivDestinos(120%,rgba(255, 255, 255, 0.4), 100px,'Open Sans', black, center)
}

@mixin formatoDivDestinos ($ancho , $alto , $bgRepeat , $bgSize , $jSelf , $aSelf) {
    width: $ancho;
    height: $alto;
    background-repeat: $bgRepeat;
    background-size: $bgSize;
    justify-self: $jSelf;
    align-self: $aSelf;
    
}
#divDestinoBrasil{
    color: rgb(9, 44, 112);
    font-family: 'Roboto Condensed', sans-serif;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "rioDeJaneiro buzios florianopolis balnearioCamboriu salvadorDeBahia praiaDoForte"
                         "maceio maragogi portoDeGalinhas fortaleza aquiraz jericoacoara";
    grid-row-gap: 10px;
    grid-column-gap: 10px;
    align-items: center;
    justify-content: center;
    }
#rio{
    @include formatoDivDestinos(180px, 160px, no-repeat, cover, center, center);
        background-image: url(../Imagenes/DestinoBrasil/rioDeJaneiro.jpg);
        grid-area: rioDeJaneiro;
     }

#buzios{
    @include formatoDivDestinos(180px, 160px, no-repeat, cover, center, center);
        background-image: url(../Imagenes/DestinoBrasil/buzios.jpg);
        grid-area: buzios;
    }
    
    #florianopolis{
        @include formatoDivDestinos(180px, 160px, no-repeat, cover, center, center);
        background-image: url(../Imagenes/DestinoBrasil/florianopolis.jpg);
        grid-area: florianopolis;
    }
    #camboriu{
        @include formatoDivDestinos(180px, 160px, no-repeat, cover, center, center);
        background-image: url(../Imagenes/DestinoBrasil/camboriu.jpg);
        grid-area: balnearioCamboriu;
    }
    #salvadorDeBahia{
        @include formatoDivDestinos(180px, 160px, no-repeat, cover, center, center);
        background-image: url(../Imagenes/DestinoBrasil/salvadorDeBahia.jpg);
        grid-area: salvadorDeBahia;

    }
    #praiaDoForte{
        @include formatoDivDestinos(180px, 160px, no-repeat, cover, center, center);
        background-image: url(../Imagenes/DestinoBrasil/praiaDoForte.jpg);
        grid-area: praiaDoForte;
        }

    #maceio{
        @include formatoDivDestinos(180px, 160px, no-repeat, cover, center, center);
        background-image: url(../Imagenes/DestinoBrasil/maceio.jpg);
        grid-area: maceio;
        }

    #maragogi{
        @include formatoDivDestinos(180px, 160px, no-repeat, cover, center, center);
        background-image: url(../Imagenes/DestinoBrasil/maragogi.jpg);
        grid-area: maragogi;
        }
    #portoDeGalinhas{
        @include formatoDivDestinos(180px, 160px, no-repeat, cover, center, center);
        background-image: url(../Imagenes/DestinoBrasil/portoDeGalinhas.jpg);
        grid-area: portoDeGalinhas;
        }
    #fortaleza{
        @include formatoDivDestinos(180px, 160px, no-repeat, cover, center, center);
        background-image: url(../Imagenes/DestinoBrasil/fortaleza.jpg);
        grid-area: fortaleza;
        }
    #aquiraz{
        @include formatoDivDestinos(180px, 160px, no-repeat, cover, center, center);
        background-image: url(../Imagenes/DestinoBrasil/aquiraz.jpg);
        grid-area: aquiraz;
        }
    #jericoacoara{
        @include formatoDivDestinos(180px, 160px, no-repeat, cover, center, center);
        background-image: url(../Imagenes/DestinoBrasil/jericoacoara.jpg);
        grid-area: jericoacoara;
        }
    
    
    #divDestinoPeru{
        color: rgb(9, 44, 112);
        font-family: 'Roboto Condensed', sans-serif;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr;
        grid-template-areas: "limaCiudadImperial organosPuntaSal cuscoCiudadImperial aguasCalientesMachu iquitosSelva arequipa";        
        grid-row-gap: 10px;
        grid-column-gap: 10px;
        align-items: center;
        justify-content: center;                         
    }
    
    #lima{
        @include formatoDivDestinos(180px, 160px, no-repeat, cover, center, center);
        background-image: url(../Imagenes/DestinoPeru/limaPeru.jpg);
        grid-area: limaCiudadImperial;
        }
    
    #organos{
        @include formatoDivDestinos(180px, 160px, no-repeat, cover, center, center);
        background-image: url(../Imagenes/DestinoPeru/organos.jpg);
        grid-area: organosPuntaSal;
        }
    
    #cusco{
        @include formatoDivDestinos(180px, 160px, no-repeat, cover, center, center);
        background-image: url(../Imagenes/DestinoPeru/cusco.jpg);
        grid-area: cuscoCiudadImperial;
        }
    #aguasCalientes{
        @include formatoDivDestinos(180px, 160px, no-repeat, cover, center, center);
        background-image: url(../Imagenes/DestinoPeru/aguasCalientes.jpg);
        grid-area: aguasCalientesMachu;
        }
    #iquitos{
        @include formatoDivDestinos(180px, 160px, no-repeat, cover, center, center);
        background-image: url(../Imagenes/DestinoPeru/iquitos.jpg);
        grid-area: iquitosSelva;
        }
    
    #arequipa{
        @include formatoDivDestinos(180px, 160px, no-repeat, cover, center, center);
        background-image: url(../Imagenes/DestinoPeru/arequipa.jpg);
        grid-area: arequipa;
        }

    #divDestinoMexico{
        color: rgb(9, 44, 112);
        font-family: 'Roboto Condensed', sans-serif;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr;
        grid-template-areas: "cancun playaDelCarmen merida mexicoDf maravillasDelNorte bajaCalifornia"; 
        grid-row-gap: 10px;
        grid-column-gap: 10px;
        align-items: center;
        justify-content: center;     
    }
    
    #cancun{
        @include formatoDivDestinos(180px, 160px, no-repeat, cover, center, center);
        background-image: url(../Imagenes/DestinoMexico/cancun.jpg);
        grid-area: cancun;
        }

    #playaDelCarmen{
        @include formatoDivDestinos(180px, 160px, no-repeat, cover, center, center);
        background-image: url(../Imagenes/DestinoMexico/playaDelCarmen.jpg);
        grid-area: playaDelCarmen;
        }

    #merida{
        @include formatoDivDestinos(180px, 160px, no-repeat, cover, center, center);
        background-image: url(../Imagenes/DestinoMexico/merida.jpg);
        grid-area: merida;
        }

    #mexicoDf{
        @include formatoDivDestinos(180px, 160px, no-repeat, cover, center, center);
        background-image: url(../Imagenes/DestinoMexico/mexicoDf.jpg);
        grid-area: mexicoDf;
        }

    #maravillasDelNorte{
        @include formatoDivDestinos(180px, 160px, no-repeat, cover, center, center);
        background-image: url(../Imagenes/DestinoMexico/maravillasDelNorte.jpg);
        grid-area: maravillasDelNorte;
        }

    #bajaCalifornia{
        @include formatoDivDestinos(180px, 160px, no-repeat, cover, center, center);
        background-image: url(../Imagenes/DestinoMexico/bajaCalifornia.jpg);
        grid-area: bajaCalifornia;
        }
        
    #divDestinoEstadosUnidos{
        color: rgb(9, 44, 112);
        font-family: 'Roboto Condensed', sans-serif;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr;
        grid-template-areas: "sanFrancisco newYork miami lasVegas boston orlando";  
        grid-row-gap: 10px;
        grid-column-gap: 10px;
        align-items: center;
        justify-content: center;    
        padding-bottom: 20px;                    
    }
    
    #sanFrancisco{
        @include formatoDivDestinos(180px, 160px, no-repeat, cover, center, center);
        background-image: url(../Imagenes/DestinoEstadosUnidos/sanFrancisco.jpg);
        grid-area: sanFrancisco;
        }

    #newYork{
        @include formatoDivDestinos(180px, 160px, no-repeat, cover, center, center);
        background-image: url(../Imagenes/DestinoEstadosUnidos/nuevaYork.jpg);
        grid-area: newYork;
        }
    
    #miami{
        @include formatoDivDestinos(180px, 160px, no-repeat, cover, center, center);
        background-image: url(../Imagenes/DestinoEstadosUnidos/miami.jpg);
        grid-area: miami;
        }

    #boston{
        @include formatoDivDestinos(180px, 160px, no-repeat, cover, center, center);
        background-image: url(../Imagenes/DestinoEstadosUnidos/boston.jpg);
        grid-area: boston;
        }

    #lasVegas{
        @include formatoDivDestinos(180px, 160px, no-repeat, cover, center, center);
        background-image: url(../Imagenes/DestinoEstadosUnidos/lasVegas.jpg);
        grid-area: lasVegas;
        }

    #orlando{
        @include formatoDivDestinos(180px, 160px, no-repeat, cover, center, center);
        background-image: url(../Imagenes/DestinoEstadosUnidos/orlando.jpg);
        grid-area: orlando;
        }