/*Estilo NAV*/
$bgColorNav: white;

/*Estilo MAIN*/
$bgColorMain: rgba(232, 237, 248, 0.8);
$altoMain: auto;
$anchoMain: 100vw;

/*Estilo Logo*/
$logoAlto:60%;
$logoAncho:60%;

/*Estilo de Titulos Main*/
$colorTituloM: white;
$tamanioTituloM: 50px;
$fuenteTituloM: 'Open Sans', sans-serif;
$paddingTituloM: 1rem;

/*Estilo de Titulos General*/
$colorTitulo: black;
$tamanioTitulo: 50px;
$fuenteTitulo: 'Open Sans', sans-serif;
$paddingTitulo: 1rem;

/*Estilo de Parrafos*/
$colorParrafo: black;
$tamaniParrafo: 30px;
$fuenteParrafo: 'Roboto', sans-serif;

